<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Enquiry Received</title>
  </head>
  <body
    style="
      background: #f3f3f3;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 30px;
    "
  >
    <div
      style="
        width: 100%;
        max-width: 500px;
        margin: 30px auto;
        padding: 30px;
        background: #fffef9;
      "
    >
      <a
        href="https://theresumes.online"
        style="
          display: block;
          width: 200px;
          overflow: hidden;
          margin: 0 auto 20px;
        "
      >
        <img
          src="https://theresumes.online/src/static/emailer/logo.png"
          alt="TheResumes.Online"
          style="
            width: 100%;
            height: auto;
            object-position: center;
            object-fit: contain;
          "
        />
      </a>

      <div style="background: #f3f3f3">
        <div style="padding: 20px">
          <h1
            style="
              font-size: 22px;
              font-weight: 600;
              color: #333333;
              margin-bottom: 20px;
            "
          >
            Contact Enquiry Received
          </h1>
          <p
            style="
              font-size: 16px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            You have received an enquiry from <b><%= email %></b>
          </p>
          <p
            style="
              font-size: 16px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            <strong
              style="
                display: block;
                font-size: 15px;
                font-weight: 600;
                color: #333333;
                line-height: 120%;
              "
              >Name:</strong
            >
            <%= name %>
          </p>
          <p
            style="
              font-size: 16px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            <strong
              style="
                display: block;
                font-size: 15px;
                font-weight: 600;
                color: #333333;
                line-height: 120%;
              "
              >Email:</strong
            >
            <%= email %>
          </p>
          <p
            style="
              font-size: 16px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            <strong
              style="
                display: block;
                font-size: 15px;
                font-weight: 600;
                color: #333333;
                line-height: 120%;
              "
              >Phone:</strong
            >
            <%= phone %>
          </p>
          <p
            style="
              font-size: 16px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            <strong
              style="
                display: block;
                font-size: 15px;
                font-weight: 600;
                color: #333333;
                line-height: 120%;
              "
              >Message:</strong
            >
            <%= message %>
          </p>
        </div>
      </div>

      <div style="margin-top: 30px; text-align: center">
        <div style="margin: 0 auto 30px; text-align: center">
          <a
            href="https://www.facebook.com/theresumes.online"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/fb.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://www.instagram.com/theresumes.online/"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/ig.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://x.com/the_resumes"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/x.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://www.linkedin.com/showcase/theresumes/about/"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/in.png"
              style="width: 40px"
            />
          </a>
        </div>

        <p style="font-size: 14px; color: #666666">
          To make sure you continue receiving our newsletters, add
          <a
            href="mailto:newsletter@theresumes.online"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >newsletter&#64;theresumes.online</a
          >
          to your address book.
        </p>

        <p style="font-size: 14px; color: #666666">
          <a
            href="https://theresumes.online"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >theresumes.online</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
