<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Enquiry Recieved</title>
  </head>
  <body>
    <div>
      <h1>Contact Enquiry Recieved</h1>
      <p>You have recieved an enquiry from <b><%= email %></b></p>
      <p><strong>Name:</strong> <%= name %></p>
      <p><strong>Email:</strong> <%= email %></p>
      <p><strong>Phone:</strong> <%= phone %></p>
      <p><strong>Message:</strong> <%= message %></p>
    </div>
  </body>
</html>
